{% extends 'main_djmil/layout.html'%}


{%block title%}Combat order{%endblock%}


{%block content%}
<div class="container-fluid orders" xmlns="http://www.w3.org/1999/html">
    <div class="orders_search" id="orders_search">
        <div class="alert alert-dark alert-search text-light"
             style="background: linear-gradient(to right, #0c0c0d,#d9a30f, #0c0c0d)">

            <div class="main_search_all">
                <div class="hide" id="hide">
                    <i class="fa-solid fa-arrow-up text-danger" onclick="hide_main_search()"></i>
                </div>
                <div class="show_btn" id="show">
                    <i class="fa-solid fa-arrow-down" onclick="show_main_search()"></i>
                </div>
                <h5 class="title">Сортування</h5>
                <div class="main_search" id="main_search">
                    <form method="get">
                        <input type="date" class="form-control" name="date_search">
                        <br>
                        <input class="form-control" type="time" name="time">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fakefake" value="fakefake"
                                   id="fakedrone">
                            <label class="form-check-label" for="fakedrone">
                                без fake drone
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="today" value="today"
                                   id="flexCheckChecked_today">
                            <label class="form-check-label" for="flexCheckChecked_today">
                                за сьогодні
                            </label>
                        </div>
                        <br>
                        <button class="btn btn-warning search-btn text-light main_btn" type="submit">пошук</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="chose_orders">
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle text-light main_btn" type="button"
                            id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        вибери звіт
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'online_second_orders' %}">Детальній Звіт</a>
                        <a class="dropdown-item" href="{% url 'combat_orders' %}">Бойоввий звіт</a>
                        <a class="dropdown-item" href="{% url 'sky_safe' %}">SkySafe звіт</a>
                    </div>
                </div>

            </div>
            <br>
            <div class="build_orders_all">
                <div class="hide" id="hide_build_orders_all" onclick="show_and_hide()">
                    <i class="fa-solid fa-arrow-up text-danger" onclick="hide_build_orders_all()"></i>
                </div>
                <div class="show_btn" id="show_build_orders_all">
                    <i class="fa-solid fa-arrow-down" onclick="show_build_orders_all()"></i>
                </div>
                <h5 class="title">Побудувати звіт</h5>
                <div class="build_orders" id="build_orders">
                    <form method="get">
                        Звіт з:
                        <input type="date" class="form-control" name="start_cut">
                        Звіт по:
                        <input type="date" class="form-control" name="end_cup">
                        <br>
                        <button class="btn btn-warning text-light main_btn" type="submit" name="build_order"
                                value="build_order">Збудувати
                            звіт
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if model|length > 0 %}
    <div class="combat_data">

        {%if action == 0%}
        {%for el in model%}
        <div class="alert alert-warning combat_alert"
             style="background: linear-gradient(to right, #0c0c0d, #a6700c, #0c0c0d)">
            <form method="get">
                <button class="btn btn-warning main_btn text-light" type="submit" name="open_data"
                        value="{{el.serial_no}} {{el.dt}}">
                    {{el.serial_no}}
                </button>
            </form>
            {%if el.product_type == 41 %}
            <p style="color:#fff">mavic_2</p>
            {%elif el.product_type == 44 %}
            <p style="color:#fff">M_200_v2</p>
            {%elif el.product_type == 53 %}
            <p style="color:#fff">Mavic_Mini</p>
            {%elif el.product_type == 58 %}
            <p style="color:#fff">Mavic_Air_2</p>
            {%elif el.product_type == 60 %}
            <p style="color:#fff">M300RTK</p>
            {%elif el.product_type == 63 %}
            <p style="color:#fff">mini_2</p>
            {%elif el.product_type == 66 %}
            <p style="color:#fff">air_2s</p>
            {%elif el.product_type == 67 %}
            <p style="color:#fff">m30</p>
            {%elif el.product_type == 68 %}
            <p style="color:#fff">mavic_3</p>
            {%elif el.product_type == 69 %}
            <p style="color:#fff">mavic2Enterprise</p>
            {%elif el.product_type == 70 %}
            <p style="color:#fff">mini_se</p>
            {%elif el.product_type == 73 %}
            <p style="color:#fff">mini_3_Pro</p>
            {%elif el.product_type == 77 %}
            <p style="color:#fff">Mavic_3T_3E</p>
            {%elif el.product_type == 86 %}
            <p style="color:#fff">Mavic_3_Classic</p>
            {%endif%}
            {%if el.status == 'ally'%}
            <div class="combat_alert_data">
                <span class="text-success">Дата виявлення:</span>
                <p class="text-success">{{el.dt}}</p>
            </div>
            <div class="combat_alert_data">
                <span class="text-success">Кількість польтів за дату:</span>
                <p class="text-success">{{el.quantity}}</p>
            </div>
            <form method="post">
                {%csrf_token%}
                <select class="form-select" aria-label="Default select example" name="status"
                        style="background: linear-gradient(to right, #0c0c0d, #a6700c, #0c0c0d); color: green">
                    <option selected>оберіть приналежність</option>
                    <option value="{{el.serial_no}} ally {{el.dt}}">свій</option>
                    <option value="{{el.serial_no}} enemy {{el.dt}}">чужий</option>
                    <option value="{{el.serial_no}} neutral {{el.dt}}">нейтральний</option>
                </select>
                <button class="btn btn-dark" type="submit">застасувати</button>
            </form>
            {%elif el.status == 'enemy'%}
            <div class="combat_alert_data">
                <span class="text-danger">Дата виявлення:</span>
                <p class="text-danger">{{el.dt}}</p>
            </div>
            <div class="combat_alert_data">
                <span class="text-danger">Кількість польтів за дату:</span>
                <p class="text-danger">{{el.quantity}}</p>
            </div>
            <form method="post">
                {%csrf_token%}
                <select class="form-select" aria-label="Default select example" name="status"
                        style="background: linear-gradient(to right, #0c0c0d, #a6700c, #0c0c0d); color: red">
                    <option selected>оберіть приналежність</option>
                    <option value="{{el.serial_no}} ally {{el.dt}}">свій</option>
                    <option value="{{el.serial_no}} enemy {{el.dt}}">чужий</option>
                    <option value="{{el.serial_no}} neutral {{el.dt}}">нейтральний</option>
                </select>
                <button class="btn btn-dark" type="submit">застасувати</button>
            </form>


            {%else%}
            <div class="combat_alert_data">
                <span class="text-light">Дата виявлення:</span>
                <p class="text-light">{{el.dt}}</p>
            </div>
            <div class="combat_alert_data">
                <span class="text-light">Кількість польтів за дату:</span>
                <p class="text-light">{{el.quantity}}</p>
            </div>
            <form method="post">
                {%csrf_token%}
                <select class="form-select" aria-label="Default select example" name="status"
                        style="background: linear-gradient(to right, #0c0c0d, #a6700c, #0c0c0d); color: #fff">
                    <option selected>оберіть приналежність</option>
                    <option value="{{el.serial_no}} ally {{el.dt}}">свій</option>
                    <option value="{{el.serial_no}} enemy {{el.dt}}">чужий</option>
                    <option value="{{el.serial_no}} neutral {{el.dt}}">нейтральний</option>
                </select>
                <button class="btn btn-dark" type="submit">застасувати</button>
            </form>
            {%endif%}
        </div>
        {%endfor%}
        {%else%}
        <br>


        <div class="alert alert-dark combat_dark"
             style="background: linear-gradient(to right, #0c0c0d, #a6700c, #0c0c0d)">
            <p class="text-light"><span class="text-warning">серійний номер:</span> {{model.model.serial_no}}</p>
            {%if model.model.product_type == 41 %}
            <p style="color:#fff">mavic_2</p>
            {%elif model.model.product_type == 44 %}
            <p style="color:#fff">M_200_v2</p>
            {%elif model.model.product_type == 53 %}
            <p style="color:#fff">Mavic_Mini</p>
            {%elif model.model.product_type == 58 %}
            <p style="color:#fff">Mavic_Air_2</p>
            {%elif model.model.product_type == 60 %}
            <p style="color:#fff">M300RTK</p>
            {%elif model.model.product_type == 63 %}
            <p style="color:#fff">mini_2</p>
            {%elif model.model.product_type == 66 %}
            <p style="color:#fff">air_2s</p>
            {%elif model.model.product_type == 67 %}
            <p style="color:#fff">m30</p>
            {%elif model.model.product_type == 68 %}
            <p style="color:#fff">mavic_3</p>
            {%elif model.model.product_type == 69 %}
            <p style="color:#fff">mavic2Enterprise</p>
            {%elif model.model.product_type == 70 %}
            <p style="color:#fff">mini_se</p>
            {%elif model.model.product_type == 73 %}
            <p style="color:#fff">mini_3_Pro</p>
            {%elif model.model.product_type == 77 %}
            <p style="color:#fff">Mavic_3T_3E</p>
            {%elif model.model.product_type == 86 %}
            <p style="color:#fff">Mavic_3_Classic</p>
            {%endif%}
            <p class="text-light"><span class="text-warning">дата выявлення:</span> {{model.model.dt}}</p>
        </div>

        <div class="weather_api" style="background: linear-gradient(to right, #0c0c0d, #a6700c, #0c0c0d)">
            <div class="weather_stat">
                <p style="color: #fff">температура: {{weather.main.temp}}</p>
                <p style="color: #fff">тиск: {{weather.main.pressure}} pA</p>
                <p style="color: #fff">видимість: {{weather.visibility}} метрів</p>
                <p style="color: #fff">вiтер: {{weather.wind.speed}} м/с, {{weather.wind.deg}} градусів </p>
            </div>
            <div class="weather_img">
                <img src="http://openweathermap.org/img/w/{{weather.weather.0.icon}}.png" width="100px" height="100px">
            </div>
        </div>

        <br>

        <div class="main_map">
            <div id="myMap" style="position:relative;width:1000px;height:400px;">
            </div>
        </div>
        <br>
        <div class="container-fluid data_from_map">
            <div class="latitude">
                <label class="form-check-label text-light" for="lat_data">
                    latitude
                </label>
                <input id="lat_data" type="text" class="form-control">
            </div>
            <div class="longitude">
                <label class="form-check-label text-light" for="lon_data">
                    longitude
                </label>
                <input id="lon_data" type="text" class="form-control">
            </div>
            <div class="distance">
                <label class="form-check-label text-light" for="distance">
                    distance
                </label>
                <input id="distance" type="text" class="form-control">
            </div>

        </div>


        <br>
        <table class="table table-dark table-sm table-hover table-bordered"
               style="background: linear-gradient(to right, #0c0c0d, #a6700c, #0c0c0d)">
            <thead>
            <tr>
                <th scope="col">коордінати дрона</th>
                <th scope="col">height</th>
                <th scope="col">висота польоту</th>
                <th scope="col">коордінати пульта</th>
                <th scope="col">
                    "коордінати homepoint
                </th>
                <th scope="col">дата виявлення</th>


            </tr>
            </thead>
            {%for el in model.model_detail%}
            <tbody>
            <tr class="main_row">
                <td>
                    <p class="drone_len">
                        {{el.latitude}}
                    <p>
                    <p class="drone_lon">
                        {{el.longitude}}</p>
                </td>
                <td>{{el.height}}</td>
                <td>{{el.altitude}}</td>
                <td class="rc_cor">
                    {{el.phone_app_latitude}}
                    {{el.phone_app_longitude}}
                </td>
                <td class="home_point_cor">
                    {{el.home_latitude}}
                    {{el.home_longitude}}
                </td>
                <td>
                    {{el.dt|time:"H:i"}}
                </td>


            </tr>

            </tbody>
            {%endfor%}
        </table>
        <script type='text/javascript' src="/static/main_djmil/js/bing_map_api_js.js" defer>
        </script>
        {%endif%}
    </div>
    {%else%}

    <div class="no_data">
        <h3 class="text-light">no such data</h3>
    </div>
    {%endif%}
</div>

<script src="/static/main_djmil/js/main_js.js">
</script>


{%endblock%}