{%extends 'main_djmil/layout.html' %}

{%block title%}Main page{%endblock%}

{%block content%}
<form method="get">
        <button class="btn btn-success" name="start" value="start">Start</button>
</form>
<div class="container-fluid">
    {%if model == 'No data'%}
    <div style="width: 100%; height: 90vh; display: flex; justify-content: center; align-items: center">
        <h1 class="text-light">No data</h1>
    </div>
    {%elif model|length > 1%}
    <div class="main_page">
        <form method="get" action="/combat_orders">
            <div class="top_rank">
                {%for el in model%}
                <div class="alert alert-dark">
                    <button class="btn btn-success" name="open_data"
                            value="{{el.serial_no}} {{el.dt}}" type="submit">{{el.serial_no}}
                    </button>

                    <p class="text-light">{{el.quantity}}</p>
                    <p class="text-light">{{el.dt}}</p>
                </div>
                {%endfor%}
            </div>
        </form>
    </div>
    {%endif%}
</div>


{%endblock%}