{%extends 'main_djmil/layout.html' %}

{%block title%}Statistics page{%endblock%}

{%block content%}
<div class="container-fluid statistic_container">
    <br>
    <div class="data_for_month">
        <form method="get">
            <div class="alert alert-dark chose_month"
                 style="background: linear-gradient(to right, #0c0c0d,#d9a30f, #0c0c0d)">
                <input type="date" class="form-control text-light" style="background-color: black" name="month">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="today" value="today"
                           id="flexCheckChecked_today">
                    <label class="form-check-label text-light" for="flexCheckChecked_today">
                        за сьогодні
                    </label>
                </div>
                <button class="btn btn-dark" type="submit">обрати</button>
            </div>
        </form>

        <form method="get">
            <div class="alert alert-dark chose_dates"
                 style="background: linear-gradient(to right, #0c0c0d,#d9a30f, #0c0c0d)">
                <input type="date" class="form-control" name="date_1">
                <input type="date" class="form-control" name="date_2">
                <button class="btn btn-dark" type="submit" onclick="show_data()">обрати</button>
            </div>
        </form>
        <br>
        <div class="main_statistic">
            <div class="total_result_for_month"
            >
                <p class="text-light">Знайдено дронів за місяць: {{total_value}}</p>
                <p class="text-light">Загальна кількість виявлень: {{dirty_total_value}}</p>
                {% if mavic_2 != 0 %}
                <p class="text-light">mavic_2: {{mavic_2}}</p>
                {%endif%}
                {% if M_200_v2 != 0 %}
                <p class="text-light">M_200_v2: {{M_200_v2}}</p>
                {%endif%}
                {% if Mavic_Mini != 0 %}
                <p class="text-light">Mavic_Mini: {{Mavic_Mini}}</p>
                {%endif%}
                {% if Mavic_Air_2 != 0 %}
                <p class="text-light">Mavic_Air_2: {{Mavic_Air_2}}</p>
                {%endif%}
                {% if M300RTK != 0 %}
                <p class="text-light">M 300 RTK: {{M300RTK}}</p>
                {%endif%}
                {%if mini_2 != 0%}
                <p class="text-light">mini_2: {{mini_2}}</p>
                {%endif%}
                {%if air_2s != 0 %}
                <p class="text-light">air_2s: {{air_2s}}</p>
                {%endif%}
                {%if m30 != 0%}
                <p class="text-light">M30: {{m30}}</p>
                {%endif%}
                {%if mavic2Enterprise != 0%}
                <p class="text-light">mavic2Enterprise: {{mavic2Enterprise}}</p>
                {%endif%}
                {%if mini_se != 0 %}
                <p class="text-light">mini_se: {{mini_se}}</p>
                {%endif%}
                {%if mavic_3 != 0%}
                <p class="text-light">mavic 3: {{mavic_3}}</p>
                {%endif%}
                {% if mini_3_Pro != 0 %}
                <p class="text-light">mini_3_Pro: {{mini_3_Pro}}</p>
                {%endif%}
                {% if Mavic_3T_3E != 0 %}
                <p class="text-light">Mavic_3T_3E: {{Mavic_3T_3E}}</p>
                {%endif%}
                {% if Mavic_3_Classic != 0 %}
                <p class="text-light">Mavic_3_Classic: {{Mavic_3_Classic}}</p>
                {%endif%}
                {%if ally != 0%}
                    <p class="text-light">наші: {{ally}}</p>
                {%endif%}
                {%if fag != 0%}
                    <p class="text-light">ворожі: {{fag}}</p>
                {%endif%}
                {% if unknown != 0%}
                    <p class="text-light">fake_gps: {{unknown}}</p>
                {%endif%}
            </div>
        </div>
    </div>

</div>

<script src="/static/main_djmil/js/statistics.js">
</script>
{%endblock%}