body {background-color: black}

.navbar-brand {padding: .5%;
               background: linear-gradient(to right, #f5cb42, #eff542);
               font-family: Cursive;
               font-size: 17px;
               border-radius: 5%;
               }



.orders_button:hover {background: radial-gradient(circle at center, #c28b0c, #0a9145);
                      border-radius: 10%;
                      }


.orders {display: flex;
         flex-direction: row;}

.main_table {width: 70%;
             overflow: auto;
             height: 85vh;
             padding-top: 3%;
             display: flex;
             justify-content: center;

    }

.no_data {
          width: 70%;
          height: 85vh;
          display: flex;
          justify-content: center;
          align-items: center;
}

.main_table_second {
                    width: 75%;
                    overflow: auto;
                    height: 85vh;
                    padding-top: 3%;
                    font-size: 8px;

        }


.orders_search {width: 25%;
                display: flex;
                justify-content:center;
                align-items:center;
                border-right: 3px solid yellow;
                height: 90vh;
                padding-top: 2%}

.orders_search .alert-search {padding-top:5%;
                              height: 85vh;
                              overflow: auto;
                             }

.search-btn{width:100%;
            }

.login_page {width: 100%;
             height: 95vh;
             display:flex;
             justify-content: center;
             align-items: center;
            }

.alert-login button {width:100%}

.download_orders {border-bottom: 3px solid yellow;
                  padding: 5%;
                  }

.download_orders button {width: 100%}

.main_search {border-bottom: 3px solid yellow;
              padding: 5%;
               }
.title {display:flex;
        justify-content:center}

/*settings for  chose order panels */

.chose_orders {border-bottom: 3px solid yellow;
               padding: 5%;
                }

.chose_orders button {width: 100%}

/* ====================================== */

/* combat orders build docx */

.build_orders  {border-bottom: 3px solid yellow;
               padding: 5%;


                }
.build_orders button {width: 100%}

/* ====================================== */

.combat_data {display: flex;
              flex-direction: column;
              width: 80%;
              height: 85vh;
              overflow: auto;
              padding: 1%;
            }

.combat_alert {display: flex;
               flex-direction: row;
               background-color: black;
               justify-content: space-around;
               }


.combat_alert_data {display: flex;
                    flex-direction: column;
                    }

.combat_dark {background-color: black;
              display:flex;
              flex-direction: row;
              justify-content: space-around;
             }

.main_map {display: flex;
           flex-direction: row;
           justify-content: space-between;
          }

.map_data {width: 45%;}
#loc {width:50%}

.hide {display: flex;
       justify-content: end;
      }
.show_btn {
       display:none;
      }

.main_statistic {width: 100%;
                display: flex;
                flex-wrap: wrap
                }
.total_result_for_month {width: 25%;
                         padding: 1%;
                         border-radius: 5%;
                         background-color: #360e0f;
                        }

.top_rank {width: 70%;
           height: 85vh;
           flex-direction:column;
           display: flex;
           padding .5%;
           overflow: auto;
           flex-wrap: wrap;
           justify-column: space-around;
            }

.top_rank .alert-dark{height: 15%;
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      align-items: center;
                      background-color: #360e0f;
                      border-radius: 3%;
                      width: 47%;
                      }