body {background-color: black

}

.navbar-brand {padding: .5%;
               background: linear-gradient(to right, #f5cb42, #eff542);
               font-family: Cursive;
               font-size: 17px;
               border-radius: 5%;
               }



.orders_button:hover {background: linear-gradient(to right, #171614, #1c6129);
                      border-radius: 10%;
                      }


.orders {display: flex;
         flex-direction: row;}

.main_table {width: 70%;
             overflow: auto;
             height: 85vh;
             padding-top: 3%;
             display: flex;
             justify-content: center;

    }

.no_data {
          width: 70%;
          height: 85vh;
          display: flex;
          justify-content: center;
          align-items: center;
}

.main_table_second {
                    width: 75%;
                    overflow: auto;
                    height: 85vh;
                    padding-top: 3%;
                    font-size: 8px;
        }


.orders_search {width: 25%;
                display: flex;
                justify-content:center;
                align-items:center;
                border-right: 3px solid yellow;
                height: 90vh;
                padding-top: 2%}

.orders_search .alert-search {padding-top:5%;
                              height: 85vh;
                              width: 90%;
                              overflow: auto;


                             }


.search-btn{width:100%;
            }

.login_page {width: 100%;
             height: 95vh;
             display:flex;
             justify-content: center;
             align-items: center;
            }

.alert-login button {width:100%}

.download_orders {border-bottom: 3px solid yellow;
                  padding: 5%;
                  }

.download_orders button {width: 100%}

.main_search {border-bottom: 3px solid yellow;
              padding: 5%;
               }
.title {display:flex;
        justify-content:center}

/*settings for  chose order panels */

.chose_orders {border-bottom: 3px solid yellow;
               padding: 5%;
                }

.chose_orders button {width: 100%}

/* ====================================== */

/* combat orders build docx */

.build_orders  {border-bottom: 3px solid yellow;
               padding: 5%;


                }
.build_orders button {width: 100%}

/* ====================================== */

.combat_data {display: flex;
              flex-direction: column;
              width: 80%;
              height: 85vh;
              overflow: auto;
              padding: 1%;
            }

.combat_alert {display: flex;
               flex-direction: row;
               background-color: black;
               justify-content: space-around;
               }


.combat_alert_data {display: flex;
                    flex-direction: column;
                    }

.combat_dark {background-color: black;
              display:flex;
              flex-direction: row;
              justify-content: space-around;
             }

/*.main_map {display: flex;
           flex-direction: row;
           justify-content: space-between;
          }

.map_data {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 40px;
            width: 40%;}
*/

/*#loc {width:70%} */

.hide {display: flex;
       justify-content: end;
      }
.show_btn {
       display:none;
      }

.main_statistic {width: 100%;
                display: flex;
                flex-wrap: wrap
                }
.total_result_for_month {width: 100%;
                         padding: 1%;
                         border-radius: 5%;

                        }

.top_rank {width: 70%;
           height: 85vh;
           flex-direction:column;
           display: flex;
           padding .5%;
           overflow: auto;
           justify-column: space-around;
            }

.top_rank .alert-dark{height: 15%;
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      align-items: center;
                      background-color: #360e0f;
                      border-radius: 3%;
                      width: 47%;

                    }

.top_rank .alert-dark button {background: linear-gradient(to right, #171614, #e6b517)}

.top_rank .alert-dark button:hover{background: linear-gradient(to right, #171614, #1c6129);

                                   }


.chose_month {width: 100%;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              flex-direction: row;}


.statistic_container {display: flex;
                      flex-direction: row;

                        }


.main_btn {transition: 1s;
           background: linear-gradient(to right, #171614, #1c6129);
}

.main_btn:hover {transform: scale(1.07);
                 background: linear-gradient(to right, #080707, #9c5805, #080707);
            }


.main_row:hover {transform: scale(1.015);}


.data_for_month {

                width: 25%;
                border: 1px solid #cc8812;
                padding: 1%;
                backdrop-filter: blur(5px);
                height: 90vh;
                overflow: auto;

                 }

.compare_data {
               width: 25%;
               padding: 2%;
               backdrop-filter: blur(5px);
               ;
               border: 1px solid #cc8812;

}

.chose_dates button{width: 100%;}

#filter {display: none}

/* weather api settings */

.weather_api {width: 30%;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              border: 2px solid #fff;
              padding: 5px;
                   }

.weather_stat {font-size: 12px}

.weather_img {display:flex;
              justify-content: center;
              align-items: center;
              }

.main_recorder_form {
                     width: 100%;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                    }

.recorder_form {
                width: 50%;
                padding: 3%;
                border: 2px solid #fff;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                }


.date_recorder {display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding-top: 15px;
                padding-bottom: 15px;
                width: 100%;
                border: .5 px solid grey;
                }


.date_recorder input {width: 30%;
                      }





.drone_id {display: flex;
           flex-direction: row;
           padding-bottom: 15px;
           padding-top: 15 px;
          }

/* data under map */

.data_from_map {display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between
                }
.latitude {width: 45%;}
.longitude {width: 45%;}

.whose_drones_main {
                    height: 20vh;
                    width: 400px;
                    backdrop-filter: blur(5px);
                    display: flex;
                    flex-direction: column;
}
.whose_drones {display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: end;
              height: 300px;
              width: 300px;
              padding: 15px;
              margin-top: 20px;
              margin-left: 50px;
              border-left: 3px solid orange;
              border-bottom: 3px solid orange;

              }

.type_of_owe {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              margin-left: 50px;
              font-size: 10px;
              width: 300px;

}


.whose_drones_name {
                    display: flex;
                    justify-content: center;
                    width: 300px;
                    margin-top: 15px;
                    margin-left: 50px;

}

.our_drones {width:30px;
             background-color: green;
             font-size: 12px;
       }

.whose_drones .our_drones:hover {
    transform: scale(1.3);
    transition-duration: 1s;
}

.enemies_drones {width: 30px;
                 background-color: red;
                 font-size: 12px;
}

.whose_drones .enemies_drones:hover {
    transform: scale(1.3);
    transition-duration: 1s;
}

.unknown_drones {
                    width: 30px;
                    background-color: black;
                    font-size: 12px;
}

.whose_drones .unknown_drones:hover {
    transform: scale(1.3);
    transition-duration: 1s;
}


.type_of_drones_per {width: 350px;
                     height: 350px;
                     }

/* ============ */

@media screen and (max-width: 1000px){
    .orders {display: flex;
             flex-direction: column;}

    .orders_search {width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 70vh;
                    padding-top: 2%;
                    display: none;
                    border: none;
                    z-index: 3;
                    }
    .orders_search .alert-search {padding-top:5%;
                                  height: 75vh;
                                  width: 100%;
                                  overflow: auto;
                                  z-index: 3;


                             }

    .main_table_second {
                    width: 100%;
                    overflow: auto;
                    height: 95vh;
                    padding-top: 3%;
                    font-size: 8px;
                    z-index: 2;
        }

    #filter {display: block}

    .combat_data {display: flex;
              flex-direction: column;
              width: 100%;
              height: 85vh;
              overflow: auto;
              padding: 1%;
              font-size: 12px;
            }

    .combat_alert {display: flex;
                   flex-direction: row;
                   background-color: black;
                   justify-content: space-around;
               }
    .combat_alert  button{
                          width: 100%;
                    }

    .top_rank {width: 100%;
               height: 85vh;
               flex-direction:column;
               display: flex;
               padding .5%;
               overflow: auto;
               justify-column: space-around;
            }

    .top_rank .alert-dark{height: 15%;
                          display: flex;
                          flex-direction: row;
                          justify-content: space-between;
                          align-items: center;
                          background-color: #360e0f;
                          border-radius: 3%;
                          width: 100%;
                          font-size: 12px;

                    }

    .data_for_month {

                width: 100%;
                border: 1px solid #cc8812;
                padding: 1%;
                backdrop-filter: blur(5px);

                 }

    .combat_dark {background-color: black;
                  display:flex;
                  flex-direction: row;
                  justify-content: space-around;
                  font-size: 10px
             }



    /* weather api settings */


    .weather_api {width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                  border: 2px solid #fff;
                  padding: 5px;
                       }

    .weather_stat {font-size: 12px}

    .weather_img {display:flex;
                  justify-content: center;
                  align-items: center;
                  }

    /* ============ */


    /* data under map */

    .data_from_map {display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: space-between
                    }
    .latitude {width: 100%;}
    .longitude {width: 100%;}
    .distance {width: 100%;}

/* ============ */

}



@media screen and (max-width: 450px){
    .orders {display: flex;
             flex-direction: column;}

    .orders_search {width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 70vh;
                    padding-top: 2%;
                    display: none;
                    border: none;
                    z-index: 3;
                    }
    .orders_search .alert-search {padding-top:5%;
                                  height: 75vh;
                                  width: 100%;
                                  overflow: auto;
                                  z-index: 3;


                             }

    .main_table_second {
                    width: 100%;
                    overflow: auto;
                    height: 95vh;
                    padding-top: 3%;
                    font-size: 8px;
                    z-index: 2;
        }

    #filter {display: block}

    .combat_data {display: flex;
              flex-direction: column;
              width: 100%;
              height: 85vh;
              overflow: auto;
              padding: 1%;
            }

    .combat_alert {display: flex;
                   flex-direction: column;
                   background-color: black;
                   justify-content: space-around;
               }
    .combat_alert  button{
                          width: 100%;
                    }

    .top_rank {width: 100%;
               height: 85vh;
               flex-direction:column;
               display: flex;
               padding .5%;
               overflow: auto;
               justify-column: space-around;
            }

    .top_rank .alert-dark{height: 15%;
                          display: flex;
                          flex-direction: row;
                          justify-content: space-between;
                          align-items: center;
                          background-color: #360e0f;
                          border-radius: 3%;
                          width: 100%;
                          font-size: 12px;

                    }

    .data_for_month {

                width: 100%;
                border: 1px solid #cc8812;
                padding: 1%;
                backdrop-filter: blur(5px);

                 }

    .combat_dark {background-color: black;
                  display:flex;
                  flex-direction: row;
                  justify-content: space-around;
                  font-size: 10px
             }


    /* weather api settings */


    .weather_api {width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                  border: 2px solid #fff;
                  padding: 5px;
                       }

    .weather_stat {font-size: 12px}

    .weather_img {display:flex;
                  justify-content: center;
                  align-items: center;
                  }

    /* ============ */


    /* data under map */

    .data_from_map {display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: space-between
                    }
    .latitude {width: 100%;}
    .longitude {width: 100%;}
    .distance {width: 100%;}

/* ============ */

}
